---
import Layout from '../layouts/Layout.astro';
import TopNavigation from '../components/TopNavigation.astro';
import HeroSection from '../components/HeroSection.astro';
import GridSection from '../components/GridSection.astro';
import SplitSection from '../components/SplitSection.astro';
import PricingSection from '../components/PricingSection.astro';
import FAQSection from '../components/FAQSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="StockTrack - Control de Inventario" lang="es">
	<div class="bg-white min-h-screen">
		<TopNavigation />
		<HeroSection />
		<GridSection />
		<SplitSection />
		<PricingSection />
		<FAQSection />
		<Footer />
	</div>
</Layout>
